<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
    <meta name="layout" content="${gspLayout}"/>
</head>

<body>
<content tag="adminHeader">
Admin area
</content>
</body>
</html>