/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require bower_components/AdminLTE/dist/css/AdminLTE.css
*= require bower_components/AdminLTE/dist/css/skins/_all-skins.css
*= require_self
*/
body{
    min-height:95%;
}
.content
{
    padding-left:.7em;
}

.s2ui_hidden_button
{
    display:none;
}
.ui-dialog-title, .ui-dialog-titlebar
{
    display:none;
}
.content-header
{
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: thin solid grey;
    padding-bottom: .2em;
    padding-left:.7em;
}
.alert
{
    margin-bottom: inherit;
}