/**
*= require bower_components/bootswatch/flatly/bootstrap.css
*/

body
{
    background-color: white;
}

/*.jumbotron {*/
    /*padding-top: 80px;*/
    /*padding-bottom: 30px;*/
    /*margin-bottom: 30px;*/
    /*color: inherit;*/
    /*background-color: #92cf94;*/
/*}*/

.mainbody {
    margin-top: 60px;
    min-height: 600px;
}